:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background-color: #FFFFFF;
}

app-task-board {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
